@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,500,700,");
$fa-font-path: "./assets/webfont";
html {
  font-family: "Roboto";
}

#app {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.wrap {
  width: 500px;
}

.select {
  position: relative;
  width: 100%;
  z-index: 100;
  &:hover {
    cursor: pointer;
  }
  &.open {
    .select__dropdown {
      display: block;
    }
    .select__input {
      border-bottom: none;
    }
    .select__overlay {
      display: block;
    }
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: -1;
  }
  &__input {
    border: 1.5px solid #cccccc;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }

  &__dropdown {
    display: none;
    border: 1.5px solid #cccccc;
    border-radius: 5px;
    box-shadow: 1px 6px 12px 0px #8b80809e;
    overflow-y: auto;
    height: 150px;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    text-align: center;
    list-style: none;
    padding: 10px 0;
    border-bottom: #cccccc solid 1px;
    transition: background-color, font-weight 0.3s linear;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      cursor: pointer;
    }
    &.selected {
      background-color: rgb(216, 187, 134);
    }
  }
}
